header{
    height: 50px;
    background-color: #006eff;
    font-size: 200%;    
    color: aliceblue;
    text-align: center;
    
}

nav{
    justify-content: center;
    background-color: white;
    display: flex;
    padding: 1rem;
}

nav a {
    display: block;
    color: black;
    padding: 0.5rem;
    margin: 0 2rem;
}

nav a:hover {
color: blue;
font-weight: bold;
}

.button-arrow{
    padding: 1px;
    margin: 6px;
}

article {
    width: 60%; /* 또는 800px 정도 */
    margin: 0 auto;
}
