<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MemberMapper">

    <!-- 회원 저장 -->
    <insert id="save" parameterType="com.example.demo.board.dto.MemberDTO">
        INSERT INTO member_table(memberEmail, memberPassword, memberName, createdAt)
        VALUES(#{memberEmail}, #{memberPassword}, #{memberName}, NOW())
    </insert>

    <!-- 전체 회원 조회 -->
    <select id="findAll" resultType="com.example.demo.board.dto.MemberDTO">
        SELECT * FROM member_table
    </select>

    <!-- 이메일로 회원 조회 -->
    <select id="findByEmail" parameterType="String" resultType="com.example.demo.board.dto.MemberDTO">
        SELECT * FROM member_table WHERE memberEmail = #{memberEmail}
    </select>
    
     <!-- 이메일로 회원 조회 -->
    <select id="findById" parameterType="Long" resultType="com.example.demo.board.dto.MemberDTO">
        SELECT * FROM member_table WHERE id = #{id}
    </select>

</mapper>